.application {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 24px;
  border-radius: 16px;

  background-color: #ECEEF2;
}

.application__manager {
  margin-bottom: 16px;
  max-width: 232px;
}

/* form */ 

.form {
  max-width: 376px;
}

.form__field {
  width: 100%;
  padding: 8px 12px 8px 44px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.form__field--detail {
  padding-left: 12px;
  padding-top: 5px;
  min-height: 87px;

  letter-spacing: -0.1px;
}

.form__icon {
  position: relative;
  margin-bottom: 8px;
}

.form__icon::before {
  content:'';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);

  background-repeat: no-repeat;
}

.form__icon--name::before {
  background-image: url('../../img/main/form/profile.svg');
}

.form__icon--email::before {
  background-image: url('../../img/main/form/email.svg');
}

.form__icon--phone::before {
  background-image: url('../../img/main/form/phone.svg');
}

#captcha {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.captcha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 24px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  max-height: 81px;
}

.captcha__label {
  display: inline-flex;
  padding-top: 5px;

  letter-spacing: 0.1px;
  align-items: center;
  user-select: none;
}

.captcha__label::before {
  content: '';
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 9px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);

  border-radius: 0.25em;
  
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  transition: all 0.2s linear;
}

#captcha:checked+.captcha__label::before {
  border-color: rgba(30, 160, 30, 0.7);
  background-color: rgba(30, 160, 30, 0.7);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

#captcha:not(:disabled):not(:checked)+.captcha__label:hover::before {
  border-color: rgba(30, 160, 30, 0.7);
}

#captcha:not(:disabled):active+.captcha__label::before {
  background-color: rgba(30, 160, 30, 0.7);
  border-color: rgba(30, 160, 30, 0.7);
}

#captcha:focus+.captcha__label::before {
  box-shadow: 0 0 0 0.2rem rgba(30, 160, 30, 0.1);
}

#captcha:focus:not(:checked)+.captcha__label::before {
  border-color: rgba(30, 160, 30, 0.1);
}

.captcha__text {
  max-width: 89px;
  text-align: right;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.52);
}

.application__btn {
  width: 100%;
  border: none;
  border-radius: 6px;
  margin-bottom: 18px;
  padding: 13px;

  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.2px;

  background-color: #0d870d;

  transition: all 0.2s linear;
}

.application__btn:hover {
  background-color: #0a6c0a !important;
  border-color: #0a6c0a;

  box-shadow: 0 0 0 1px #0a6c0a;
}

.application__btn:active {
  background-color: #085108 !important;
  border-color: #085108;

  box-shadow: 0 0 0 1px #085108;
}

.alert {
  display: flex;
  justify-content: space-between;
}

.alert__img {
  margin-right: 16px;
}

.alert__text {
  font-size: 14px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.1px;
}

/* talk */

.talk {
  padding-top: 63px;
  max-width: 376px;

  font-size: 16px;
}

.talk__title {
  margin-bottom: 16px;

  font-weight: 700;
  line-height: 1.5;
}

.talk__item { 
  position: relative;
  margin-bottom: 16px;
  padding-left: 32px;
}

.talk__item::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;

  background-repeat: no-repeat;
  background-image: url('../../img/main/form/tick.svg');
}

@media(max-width: 1133px) {
  .form {
    max-width: none;
    margin-right: 15px;
  }

  .talk  {
    max-width: none;
  }
}

@media(max-width: 768px) {
  .application {
    flex-wrap: wrap;
    padding-bottom: 9px;
    justify-content: center;
  }

  .application__manager .manager__img {
    margin-right: 12px;
  }

  .application__form {
    position: relative;
    padding-bottom: 27px;
    margin-bottom: 23px;
  }

  .application__form::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;

    background-color: rgba(0, 0, 0, 0.2);
  }

  .form{
    margin-right: 0;
    max-width: none;
  }

  .form__field--detail {
    padding-right: 17px;
  }

  .alert__text {
    padding-left: 35px;
  }

  .alert__img  img{
    display: none;
  }

  .alert__img {
    position: relative;
    margin-right: 5px;
  }

  .alert__img::before{
    content:'';
    position: absolute;
    width: 27px;
    height: 46px;
    left: 0;
    top: 0;
    
    background-repeat: no-repeat;
    background-image: url('../../img/main/form/safty--phone.svg');
  }

  .talk {
    padding-top: 20px;
  }

  .talk__title {
    text-align: center;
  }
}

@media(max-width: 576px) {
  .talk {
    padding-top: 0;
  }
}

@media(max-width: 375px) {
  .application {
    margin-bottom: 19px;
  }
}